$govuk-assets-path: "/disclose-cross-border-arrangements/upload/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/disclose-cross-border-arrangements/upload/assets/lib/hmrc-frontend/hmrc/assets";

@import "lib/govuk-frontend/govuk/base";
@import "partials/spinner";
@import "partials/summary";

.text-overflow{
    word-wrap: break-word;
}

body:not(.js-enabled) .js-enabled {
        display: none;
        visibility: hidden;
        width: 0;
        height: 0;
}

.code--block{
    border: none;
    margin: 0;
    line-height: 2em;
    padding: 4px;
    word-wrap: break-word;
    font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    color: #0b0c0c;
    font-size: 14px;
    background-color: #F7F7F7;
    display: inline-block;
}

.code--slim{
    border: 1px solid #DFE0E7;
    border-radius: 4px;
    padding: 2px 4px;
    display: inline-block;
    background-color: #F7F7F7;
    line-height: 1.1em;
    font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    color: #0b0c0c;
    font-size: 14px;
}
.cbc-table-filename {
  word-break: break-all;
}

.cbc-width-file {
   width: 40%;
 }

 .cbc-width-uploaded {
   width: 20%;
 }

 .cbc-width-result {
   width: 18%;
 }

 .cbc-width-next {
   width: 22%;
 }